# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: QuantChris
email: pcjdaigle@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Website dedicated to notable work I have done
github_username: christopherdaigle
minimal_mistakes_skin: dirt # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

author:
  name   : "Christopher Daigle"
  avatar : "/assets/images/bio-photo.png"
  bio    : "Chris is an AI strategy leader in P&C insurance, guiding business leaders on enterprise AI solutions and architecting the technical implementations. He is passionate about developing standards that create sustainable, production-grade AI systems."
  links:
    # - label: "Website"
    #   icon: "fas fa-fw fa-link"
    #   url: "https://"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/christopherdaigle/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/christopherdaigle/"
    - label: "PyPI"
      icon: "fab fa-fw fa-python"
      url: "https://pypi.org/user/christopherdaigle/"

# SEO and Social Sharing
social:
  type: Person
  name: Christopher Daigle
  links:
    - https://www.linkedin.com/in/christopherdaigle/
    - https://github.com/christopherdaigle/
    - https://pypi.org/user/christopherdaigle/

# Open Graph
og_image: /assets/images/bio-photo.png

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/christopherdaigle/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/christopherdaigle/"
    - label: "PyPI"
      icon: "fab fa-fw fa-python"
      url: "https://pypi.org/user/christopherdaigle/"
    # - label: "Instagram"
    #   icon: "fab fa-fw fa-instagram"
    #   url: "https://instagram.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
